node_modules

/.cache
/build
/uploads
.env
.env.test
.env.production

dist
dist-ssr
playwright-report
test-results
test-tmp
coverage
*.local

.react-router/
# Sentry Config File
.env.sentry-build-plugin
