name: Test deployment of fdm-docs

defaults:
  run:
    working-directory: ./fdm-docs

on: pull_request

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with: 
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Cache build output
        uses: actions/cache@v4
        with:
          path: ./build
          key: ${{ runner.os }}-docusaurus-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docusaurus-
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --filter fdm-docs
      - name: Build website
        run: pnpm build-docs