name: Prerelease

on:
  pull_request:
    paths:
      - 'fdm-core/**'
      - 'fdm-data/**'
    branches:
      - main

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prerelease:
    name: Prerelease
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with: 
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup pnpm 9
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://npm.pkg.github.com'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm i

      - name: Bump snapshot
        run: pnpm changeset version --snapshot ${{ github.head_ref }}

      - name: Build packages
        run: pnpm build --filter=@svenvw/fdm-core --filter=@svenvw/fdm-data
      
      - name: Publish snapshot
        run: pnpm changeset publish --tag ${{ github.head_ref }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}